# Entorno virtual
.venv/

# Variables de entorno
.env

# Archivos de configuración de Visual Studio Code
.vscode/

# Archivos de configuración de Git
.git/

# Archivos de bytecode de Python
*.pyc
__pycache__/
meteocatpy/__pycache__/

# Archivos de log
*.log

# Archivos de dist
dist/

# Archivos tests
.pytest_cache/
tests/__pycache__/
tests/files/municipis.json
tests/files/predict_dia.json
tests/files/predict_hora.json
tests/files/simbols.json
tests/files/simbols_acumulacio_de_neu.json
tests/files/simbols_acumulacio_de_pluja.json
tests/files/simbols_calamarsa.json
tests/files/simbols_cel.json
tests/files/simbols_intensitat.json
tests/files/simbols_mar.json
tests/files/simbols_precipitacio.json
tests/files/simbols_tempesta.json
tests/files/simbols_visibilitat.json
tests/files/stations.json
tests/files/stations_*.json
tests/files/station_*.json
tests/files/variables.json
tests/files/uvi_index_*.json

# Archivos de pytest
.coverage

# Local scripts
semantic_print.py
locations.py
municipi.py
update_version.py
publish_version.py
final_release.py

# TEST VARIABLES .ENV
test_dotenv.py

# VERSIONS
current_version.txt
next_version.txt

# GITLAB JOBS
# .gitlab-ci.yml

# ASSETS
meteocatpy/assets/

# FILES
meteocatpy/files/

# PY FILES
meteocatpy/interface.py

# METEOCAT CACHE
.meteocat_cache/

# NODE_MODULES
node_modules/